
#synced-display, #text-editor{
  font-family:Helvetica;
  font-size:36px;
}

#sync-button {
  display:none;
}

html, body {
  height:90%;
}

#text-editor {
  display:none;
  height:90%;
  width:100%;
}

#synced-display {
  margin-bottom:500px;
}

#cursor {
  position: absolute;
  width:3px;
  height:1em;
  background-color:#f00;
}

#raw-text {
  display:none;
}