
#synced-display, #text-editor{
  font-family:Helvetica;
  font-size:48px;
}

#sync-button {
  display:none;
}

html, body {
  height:90%;
}

#text-editor {
  display:none;
  height:90%;
  width:100%;
}

#raw-text {
  display:none;
}